@mixin lbR(){font-family: 'Libre BaskervilleR';};
@mixin lbI(){font-family: 'Libre BaskervilleI';}; 
@mixin lbB(){font-family: 'Libre BaskervilleB';};
@mixin montR(){font-family: 'MontserratR';};
@mixin montB(){font-family: 'MontserratB';};
@mixin lg(){font-family: 'lg';};
