#home-header {
    @include position(relative);
    background-color: $black-2;
    background: linear-gradient(to left, rgba(red($black), green($black), blue($black), 1) 0%, rgba(red($black), green($black), blue($black), 0.7) 10%, rgba(red($black), green($black), blue($black), 0.4) 100%), url(../img/intro-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
    .home {
        &-content-table {
            padding-top: 20%;
            padding-bottom: 110px;
        }
        &-header-content {
            @extend .col-10;
        }
        &-bottom-text {
            &-hello {
                @include montB();
                font-weight: 700;
                @include font-size(22px); 
                color: rgba(red($white), green($white), blue($white), 0.35);
                text-transform: uppercase;
                letter-spacing: .15rem;
                margin: 0 0 0 .3rem;
            }
        }
        &-section-links {
            display: inline-block;
            list-style: none;
            margin: 80px 0 0 0;
            padding: 0;
            li {
                display: inline-block;
                @include montB();
                font-weight: 400;
                @include font-size(14px);
                text-transform: uppercase;
                letter-spacing: .1rem;
                color: rgba(red($white), green($white), blue($white), 0.35);
                margin-right: 1.5rem;
                margin-bottom: .6rem;
            }
            a {
                @include lbR();
                @include font-size(18px);
                text-transform: none;
                letter-spacing: 0;
                color: $white;
                margin-left: .3rem;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    h1 {
        @include lbB();
        @include font-size(52px);
        line-height: 1.4;
        color: $white;
        font-weight: 700;
    }
    .scroll-icon {
        @include position(absolute, $bottom: 50px, $right: 20px);
        width: 60px;
        height: 48px;
        @include font-size(50px);
        @include vertical($duration: 3s, $count: infinite);
        color: $white;
        z-index: 4;
        &:hover {
            text-decoration: none;
        }
    }
}

#home-about {
    #about {
        &-profile,
        &-service {
            padding-top: 110px;
            padding-bottom: 110px;
        }
        &-profile {
            background: linear-gradient(to top, rgba(red($greyL), green($greyL), blue($greyL), 0.7), rgba(red($greyL), green($greyL), blue($greyL), 0.7)), url(../img/profile-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            a {
                &.button {
                    @extend .d-block;
                    @extend .w-100;
                    @include transition(0.2s);
                    @extend .text-center;
                    padding: 10px;
                    text-transform: uppercase;
                    @include montB();
                    letter-spacing: 2px;
                    font-weight: 400;
                }
                &#btn-contact {
                    color: $black;
                    background-color: $grey-2;
                    border: 1px solid $grey-2;
                    margin-bottom: 10px;
                    &:hover {
                        background-color: rgba(red($grey-2), green($grey-2), blue($grey-2), 0.7);
                        text-decoration: none;
                        border: 1px solid rgba(red($grey-2), green($grey-2), blue($grey-2), 0.7);
                    }
                }
                &#btn-cv {
                    color: $white;
                    background-color: $black;
                    border: 1px solid $black;
                    &:hover {
                        background-color: rgba(red($black), green($black), blue($black), 0.7);
                        text-decoration: none;
                    }
                }
            }
        }
        /* fin profile */
        &-service {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                .icon-wrap,
                .service-item {
                    display: inline-block;
                    vertical-align: top;
                }
                .service-item {
                    max-width: 80%;
                    margin-left: 20px;
                }
                i {
                    @include font-size(55px);
                    &.va-ion-social-angular {
                        margin-right: -13px;
                    }
                }
            }
        }
    }
}

/* Portfolio section styles
/* ========================================== */

#home-portfolio {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 150px;
    background: $greyL;
    .intro {
        margin-bottom: 100px;
        h2 {
            @include font-size(20px);
        }
        h3 {
            @include font-size(48px);
        }
        @include position(relative);
        &:after {
            content: "";
            @include position(absolute, $bottom: -40px);
            width: 100px;
            height: 1px;
            background-color: rgba(red($grey), green($grey), blue($grey), 0.8);
        }
    }
    .portfolio-thumb {
        @include position(relative);
        overflow: hidden;
        margin: 0;
        .portfolio-overlay {
            background: $black-2;
            @include position (absolute, $top: 0, $right:0, $bottom:0, $left:0);
            width: 100%;
            height: 100%;
            opacity: 0;
            @include transition(0.2s);
            .portfolio-item {
                text-align: center;
                padding: 30% 20px 20px;
            }
            .fa {
                background: $white;
                border-radius: 100px;
                color: $black-2;
                @include font-size(20px);
                display: inline-block;
                width: 3.5rem;
                height: 3.5rem;
                line-height: 3.5rem;
                text-align: center;
                text-decoration: none;
                margin-bottom: 20px;
            }
            h2 {
                color: $white;
                text-transform: uppercase;
                @include montB();
                @include font-size(20px);
            }
        }
        &:hover .portfolio-overlay {
            opacity: 0.9;
        }
    }
    /*filter css*/
    .filter-wrapper {
        width: 100%;
        margin-bottom: 32px;
        overflow: hidden;
        padding: 0;
        margin-left: 0;
        li {
            display: inline-block;
            margin: 4px;
            a {
                color: $black;
                @include font-size(12px);
                font-weight: 400;
                letter-spacing: 1.5px;
                padding: 8px 16px;
                margin-right: 2px;
                margin-left: 2px;
                text-transform: uppercase;
                display: block;
                text-decoration: none;
                @include transition(0.2s);
                background: transparent;
                border: 1px solid $black
            }
            a:active {
                background: $black !important;
            }
            a:hover,
            a:focus {
                background: $black;
                color: $white;
            }
        }
    }
    /*isotope box css*/
    .iso-box-section {
        width: 100%;
    }
    .iso-box-wrapper {
        width: 100%;
        padding: 0;
        @include position(relative);
        margin: 0 auto;
    }
    .iso-box {
        @include position(relative);
        min-height: 50px;
        overflow: hidden;
        margin-bottom: 25px;
    }
    .iso-box>a {
        display: block;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    .fluid-img {
        width: 100%;
        display: block;
    }
}