$icomoon-font-path: "fonts" !default;

$va-uniF000: \f000;
$va-uniF001: \f001;
$va-uniF002: \f002;
$va-uniF003: \f003;
$va-uniF004: \f004;
$va-uniF005: \f005;
$va-uniF006: \f006;
$va-uniF007: \f007;
$va-uniF008: \f008;
$va-uniF009: \f009;
$va-uniF00A: \f00a;
$va-uniF00B: \f00b;
$va-uniF00C: \f00c;
$va-uniF00D: \f00d;
$va-uniF00E: \f00e;
$va-uniF010: \f010;
$va-uniF011: \f011;
$va-uniF012: \f012;
$va-uniF013: \f013;
$va-uniF014: \f014;
$va-uniF015: \f015;
$va-uniF016: \f016;
$va-uniF017: \f017;
$va-uniF018: \f018;
$va-uniF019: \f019;
$va-uniF01A: \f01a;
$va-uniF01B: \f01b;
$va-uniF01C: \f01c;
$va-uniF01D: \f01d;
$va-uniF01E: \f01e;
$va-uniF021: \f021;
$va-uniF022: \f022;
$va-uniF023: \f023;
$va-uniF024: \f024;
$va-uniF025: \f025;
$va-uniF026: \f026;
$va-uniF027: \f027;
$va-uniF028: \f028;
$va-uniF029: \f029;
$va-uniF02A: \f02a;
$va-uniF02B: \f02b;
$va-uniF02C: \f02c;
$va-uniF02D: \f02d;
$va-uniF02E: \f02e;
$va-uniF02F: \f02f;
$va-uniF030: \f030;
$va-uniF031: \f031;
$va-uniF032: \f032;
$va-uniF033: \f033;
$va-uniF034: \f034;
$va-uniF035: \f035;
$va-uniF036: \f036;
$va-uniF037: \f037;
$va-uniF038: \f038;
$va-uniF039: \f039;
$va-uniF03A: \f03a;
$va-uniF03B: \f03b;
$va-uniF03C: \f03c;
$va-uniF03D: \f03d;
$va-uniF03E: \f03e;
$va-uniF040: \f040;
$va-uniF041: \f041;
$va-uniF042: \f042;
$va-uniF043: \f043;
$va-uniF044: \f044;
$va-uniF045: \f045;
$va-uniF046: \f046;
$va-uniF047: \f047;
$va-uniF048: \f048;
$va-uniF049: \f049;
$va-uniF04A: \f04a;
$va-uniF04B: \f04b;
$va-uniF04C: \f04c;
$va-uniF04D: \f04d;
$va-uniF04E: \f04e;
$va-uniF050: \f050;
$va-uniF051: \f051;
$va-uniF052: \f052;
$va-uniF053: \f053;
$va-uniF054: \f054;
$va-uniF055: \f055;
$va-uniF056: \f056;
$va-uniF057: \f057;
$va-uniF058: \f058;
$va-uniF059: \f059;
$va-uniF05A: \f05a;
$va-uniF05B: \f05b;
$va-uniF05C: \f05c;
$va-uniF05D: \f05d;
$va-uniF05E: \f05e;
$va-uniF060: \f060;
$va-uniF061: \f061;
$va-uniF062: \f062;
$va-uniF063: \f063;
$va-uniF064: \f064;
$va-uniF065: \f065;
$va-uniF066: \f066;
$va-uniF067: \f067;
$va-uniF068: \f068;
$va-uniF069: \f069;
$va-uniF06A: \f06a;
$va-uniF06B: \f06b;
$va-uniF06C: \f06c;
$va-uniF06D: \f06d;
$va-uniF06E: \f06e;
$va-uniF070: \f070;
$va-uniF071: \f071;
$va-uniF072: \f072;
$va-uniF073: \f073;
$va-uniF074: \f074;
$va-uniF075: \f075;
$va-uniF076: \f076;
$va-uniF077: \f077;
$va-uniF078: \f078;
$va-uniF079: \f079;
$va-uniF07A: \f07a;
$va-uniF07B: \f07b;
$va-uniF07C: \f07c;
$va-uniF07D: \f07d;
$va-uniF07E: \f07e;
$va-uniF080: \f080;
$va-uniF081: \f081;
$va-uniF082: \f082;
$va-uniF083: \f083;
$va-uniF084: \f084;
$va-uniF085: \f085;
$va-uniF086: \f086;
$va-uniF087: \f087;
$va-uniF088: \f088;
$va-uniF089: \f089;
$va-uniF08A: \f08a;
$va-uniF08B: \f08b;
$va-uniF08C: \f08c;
$va-uniF08D: \f08d;
$va-uniF08E: \f08e;
$va-uniF090: \f090;
$va-uniF091: \f091;
$va-uniF092: \f092;
$va-uniF093: \f093;
$va-uniF094: \f094;
$va-uniF095: \f095;
$va-uniF096: \f096;
$va-uniF097: \f097;
$va-uniF098: \f098;
$va-uniF099: \f099;
$va-uniF09A: \f09a;
$va-uniF09B: \f09b;
$va-uniF09C: \f09c;
$va-uniF09D: \f09d;
$va-uniF09E: \f09e;
$va-uniF0A0: \f0a0;
$va-uniF0A1: \f0a1;
$va-uniF0A2: \f0a2;
$va-uniF0A3: \f0a3;
$va-uniF0A4: \f0a4;
$va-uniF0A5: \f0a5;
$va-uniF0A6: \f0a6;
$va-uniF0A7: \f0a7;
$va-uniF0A8: \f0a8;
$va-uniF0A9: \f0a9;
$va-uniF0AA: \f0aa;
$va-uniF0AB: \f0ab;
$va-uniF0AC: \f0ac;
$va-uniF0AD: \f0ad;
$va-uniF0AE: \f0ae;
$va-uniF0B0: \f0b0;
$va-uniF0B1: \f0b1;
$va-uniF0B2: \f0b2;
$va-uniF0C0: \f0c0;
$va-uniF0C1: \f0c1;
$va-uniF0C2: \f0c2;
$va-uniF0C3: \f0c3;
$va-uniF0C4: \f0c4;
$va-uniF0C5: \f0c5;
$va-uniF0C6: \f0c6;
$va-uniF0C7: \f0c7;
$va-uniF0C8: \f0c8;
$va-uniF0C9: \f0c9;
$va-uniF0CA: \f0ca;
$va-uniF0CB: \f0cb;
$va-uniF0CC: \f0cc;
$va-uniF0CD: \f0cd;
$va-uniF0CE: \f0ce;
$va-uniF0D0: \f0d0;
$va-uniF0D1: \f0d1;
$va-uniF0D2: \f0d2;
$va-uniF0D3: \f0d3;
$va-uniF0D4: \f0d4;
$va-uniF0D5: \f0d5;
$va-uniF0D6: \f0d6;
$va-uniF0D7: \f0d7;
$va-uniF0D8: \f0d8;
$va-uniF0D9: \f0d9;
$va-uniF0DA: \f0da;
$va-uniF0DB: \f0db;
$va-uniF0DC: \f0dc;
$va-uniF0DD: \f0dd;
$va-uniF0DE: \f0de;
$va-uniF0E0: \f0e0;
$va-uniF0E1: \f0e1;
$va-uniF0E2: \f0e2;
$va-uniF0E3: \f0e3;
$va-uniF0E4: \f0e4;
$va-uniF0E5: \f0e5;
$va-uniF0E6: \f0e6;
$va-uniF0E7: \f0e7;
$va-uniF0E8: \f0e8;
$va-uniF0E9: \f0e9;
$va-uniF0EA: \f0ea;
$va-uniF0EB: \f0eb;
$va-uniF0EC: \f0ec;
$va-uniF0ED: \f0ed;
$va-uniF0EE: \f0ee;
$va-uniF0F0: \f0f0;
$va-uniF0F1: \f0f1;
$va-uniF0F2: \f0f2;
$va-uniF0F3: \f0f3;
$va-uniF0F4: \f0f4;
$va-uniF0F5: \f0f5;
$va-uniF0F6: \f0f6;
$va-uniF0F7: \f0f7;
$va-uniF0F8: \f0f8;
$va-uniF0F9: \f0f9;
$va-uniF0FA: \f0fa;
$va-uniF0FB: \f0fb;
$va-uniF0FC: \f0fc;
$va-uniF0FD: \f0fd;
$va-uniF0FE: \f0fe;
$va-uniF100: \f100;
$va-uniF101: \f101;
$va-uniF102: \f102;
$va-uniF103: \f103;
$va-uniF104: \f104;
$va-uniF105: \f105;
$va-uniF106: \f106;
$va-uniF107: \f107;
$va-uniF108: \f108;
$va-uniF109: \f109;
$va-uniF10A: \f10a;
$va-uniF10B: \f10b;
$va-uniF10C: \f10c;
$va-uniF10D: \f10d;
$va-uniF10E: \f10e;
$va-uniF110: \f110;
$va-uniF111: \f111;
$va-uniF112: \f112;
$va-uniF113: \f113;
$va-uniF114: \f114;
$va-uniF115: \f115;
$va-uniF118: \f118;
$va-uniF119: \f119;
$va-uniF11A: \f11a;
$va-uniF11B: \f11b;
$va-uniF11C: \f11c;
$va-uniF11D: \f11d;
$va-uniF11E: \f11e;
$va-uniF120: \f120;
$va-uniF121: \f121;
$va-uniF122: \f122;
$va-uniF123: \f123;
$va-uniF124: \f124;
$va-uniF125: \f125;
$va-uniF126: \f126;
$va-uniF127: \f127;
$va-uniF128: \f128;
$va-uniF129: \f129;
$va-uniF12A: \f12a;
$va-uniF12B: \f12b;
$va-uniF12C: \f12c;
$va-uniF12D: \f12d;
$va-uniF12E: \f12e;
$va-uniF130: \f130;
$va-uniF131: \f131;
$va-uniF132: \f132;
$va-uniF133: \f133;
$va-uniF134: \f134;
$va-uniF135: \f135;
$va-uniF136: \f136;
$va-uniF137: \f137;
$va-uniF138: \f138;
$va-uniF139: \f139;
$va-uniF13A: \f13a;
$va-uniF13B: \f13b;
$va-uniF13C: \f13c;
$va-uniF13D: \f13d;
$va-uniF13E: \f13e;
$va-uniF140: \f140;
$va-uniF141: \f141;
$va-uniF142: \f142;
$va-uniF143: \f143;
$va-uniF144: \f144;
$va-uniF145: \f145;
$va-uniF146: \f146;
$va-uniF147: \f147;
$va-uniF148: \f148;
$va-uniF149: \f149;
$va-uniF14A: \f14a;
$va-uniF14B: \f14b;
$va-uniF14C: \f14c;
$va-uniF14D: \f14d;
$va-uniF14E: \f14e;
$va-uniF150: \f150;
$va-uniF151: \f151;
$va-uniF152: \f152;
$va-uniF153: \f153;
$va-uniF154: \f154;
$va-uniF155: \f155;
$va-uniF156: \f156;
$va-uniF157: \f157;
$va-uniF158: \f158;
$va-uniF159: \f159;
$va-uniF15A: \f15a;
$va-uniF15B: \f15b;
$va-uniF15C: \f15c;
$va-uniF15D: \f15d;
$va-uniF15E: \f15e;
$va-uniF160: \f160;
$va-uniF161: \f161;
$va-uniF162: \f162;
$va-uniF163: \f163;
$va-uniF164: \f164;
$va-uniF165: \f165;
$va-uniF166: \f166;
$va-uniF167: \f167;
$va-uniF168: \f168;
$va-uniF169: \f169;
$va-uniF16A: \f16a;
$va-uniF16B: \f16b;
$va-uniF16C: \f16c;
$va-uniF16D: \f16d;
$va-uniF16E: \f16e;
$va-uniF170: \f170;
$va-uniF171: \f171;
$va-uniF172: \f172;
$va-uniF173: \f173;
$va-uniF174: \f174;
$va-uniF175: \f175;
$va-uniF176: \f176;
$va-uniF177: \f177;
$va-uniF178: \f178;
$va-uniF179: \f179;
$va-uniF17A: \f17a;
$va-uniF17B: \f17b;
$va-uniF17C: \f17c;
$va-uniF17D: \f17d;
$va-uniF17E: \f17e;
$va-uniF180: \f180;
$va-uniF181: \f181;
$va-uniF182: \f182;
$va-uniF183: \f183;
$va-uniF184: \f184;
$va-uniF185: \f185;
$va-uniF186: \f186;
$va-uniF187: \f187;
$va-uniF188: \f188;
$va-uniF189: \f189;
$va-uniF18A: \f18a;
$va-uniF18B: \f18b;
$va-uniF18C: \f18c;
$va-uniF18D: \f18d;
$va-uniF18E: \f18e;
$va-uniF190: \f190;
$va-uniF191: \f191;
$va-uniF192: \f192;
$va-uniF193: \f193;
$va-uniF194: \f194;
$va-uniF195: \f195;
$va-uniF196: \f196;
$va-uniF197: \f197;
$va-uniF198: \f198;
$va-uniF199: \f199;
$va-uniF19A: \f19a;
$va-uniF19B: \f19b;
$va-uniF19C: \f19c;
$va-uniF19D: \f19d;
$va-uniF19E: \f19e;
$va-uniF1A0: \f1a0;
$va-uniF1A1: \f1a1;
$va-uniF1A2: \f1a2;
$va-uniF1A3: \f1a3;
$va-uniF1A4: \f1a4;
$va-uniF1A5: \f1a5;
$va-uniF1A6: \f1a6;
$va-uniF1A7: \f1a7;
$va-uniF1A8: \f1a8;
$va-uniF1A9: \f1a9;
$va-uniF1AA: \f1aa;
$va-uniF1AB: \f1ab;
$va-uniF1AC: \f1ac;
$va-uniF1AD: \f1ad;
$va-uniF1AE: \f1ae;
$va-uniF1B0: \f1b0;
$va-uniF1B1: \f1b1;
$va-uniF1B2: \f1b2;
$va-uniF1B3: \f1b3;
$va-uniF1B4: \f1b4;
$va-uniF1B5: \f1b5;
$va-uniF1B6: \f1b6;
$va-uniF1B7: \f1b7;
$va-uniF1B8: \f1b8;
$va-uniF1B9: \f1b9;
$va-uniF1BA: \f1ba;
$va-uniF1BB: \f1bb;
$va-uniF1BC: \f1bc;
$va-uniF1BD: \f1bd;
$va-uniF1BE: \f1be;
$va-uniF1C0: \f1c0;
$va-uniF1C1: \f1c1;
$va-uniF1C2: \f1c2;
$va-uniF1C3: \f1c3;
$va-uniF1C4: \f1c4;
$va-uniF1C5: \f1c5;
$va-uniF1C6: \f1c6;
$va-uniF1C7: \f1c7;
$va-uniF1C8: \f1c8;
$va-uniF1C9: \f1c9;
$va-uniF1CA: \f1ca;
$va-uniF1CB: \f1cb;
$va-uniF1CC: \f1cc;
$va-uniF1CD: \f1cd;
$va-uniF1CE: \f1ce;
$va-uniF1D0: \f1d0;
$va-uniF1D1: \f1d1;
$va-uniF1D2: \f1d2;
$va-uniF1D3: \f1d3;
$va-uniF1D4: \f1d4;
$va-uniF1D5: \f1d5;
$va-uniF1D6: \f1d6;
$va-uniF1D7: \f1d7;
$va-uniF1D8: \f1d8;
$va-uniF1D9: \f1d9;
$va-uniF1DA: \f1da;
$va-uniF1DB: \f1db;
$va-uniF1DC: \f1dc;
$va-uniF1DD: \f1dd;
$va-uniF1DE: \f1de;
$va-uniF1E0: \f1e0;
$va-uniF1E1: \f1e1;
$va-uniF1E2: \f1e2;
$va-uniF1E3: \f1e3;
$va-uniF1E4: \f1e4;
$va-uniF1E5: \f1e5;
$va-uniF1E6: \f1e6;
$va-uniF1E7: \f1e7;
$va-uniF1E8: \f1e8;
$va-uniF1E9: \f1e9;
$va-uniF1EA: \f1ea;
$va-uniF1EB: \f1eb;
$va-uniF1EC: \f1ec;
$va-uniF1ED: \f1ed;
$va-uniF1EE: \f1ee;
$va-uniF1F0: \f1f0;
$va-uniF1F1: \f1f1;
$va-uniF1F2: \f1f2;
$va-uniF1F3: \f1f3;
$va-uniF1F4: \f1f4;
$va-uniF1F5: \f1f5;
$va-uniF1F6: \f1f6;
$va-uniF1F7: \f1f7;
$va-uniF1F8: \f1f8;
$va-uniF1F9: \f1f9;
$va-uniF1FA: \f1fa;
$va-uniF1FB: \f1fb;
$va-uniF1FC: \f1fc;
$va-uniF1FD: \f1fd;
$va-uniF1FE: \f1fe;
$va-uniF200: \f200;
$va-uniF201: \f201;
$va-uniF202: \f202;
$va-uniF203: \f203;
$va-uniF204: \f204;
$va-uniF205: \f205;
$va-uniF206: \f206;
$va-uniF207: \f207;
$va-uniF208: \f208;
$va-uniF209: \f209;
$va-uniF20A: \f20a;
$va-uniF20B: \f20b;
$va-uniF20C: \f20c;
$va-uniF20D: \f20d;
$va-uniF20E: \f20e;
$va-uniF210: \f210;
$va-uniF211: \f211;
$va-uniF212: \f212;
$va-uniF213: \f213;
$va-uniF214: \f214;
$va-uniF215: \f215;
$va-uniF216: \f216;
$va-uniF217: \f217;
$va-uniF218: \f218;
$va-uniF219: \f219;
$va-uniF21A: \f21a;
$va-uniF21B: \f21b;
$va-uniF21C: \f21c;
$va-uniF21D: \f21d;
$va-uniF21E: \f21e;
$va-uniF221: \f221;
$va-uniF222: \f222;
$va-uniF223: \f223;
$va-uniF224: \f224;
$va-uniF225: \f225;
$va-uniF226: \f226;
$va-uniF227: \f227;
$va-uniF228: \f228;
$va-uniF229: \f229;
$va-uniF22A: \f22a;
$va-uniF22B: \f22b;
$va-uniF22C: \f22c;
$va-uniF22D: \f22d;
$va-uniF230: \f230;
$va-uniF231: \f231;
$va-uniF232: \f232;
$va-uniF233: \f233;
$va-uniF234: \f234;
$va-uniF235: \f235;
$va-uniF236: \f236;
$va-uniF237: \f237;
$va-uniF238: \f238;
$va-uniF239: \f239;
$va-uniF23A: \f23a;
$va-uniF23B: \f23b;
$va-uniF23C: \f23c;
$va-uniF23D: \f23d;
$va-uniF23E: \f23e;
$va-uniF240: \f240;
$va-uniF241: \f241;
$va-uniF242: \f242;
$va-uniF243: \f243;
$va-uniF244: \f244;
$va-uniF245: \f245;
$va-uniF246: \f246;
$va-uniF247: \f247;
$va-uniF248: \f248;
$va-uniF249: \f249;
$va-uniF24A: \f24a;
$va-uniF24B: \f24b;
$va-uniF24C: \f24c;
$va-uniF24D: \f24d;
$va-uniF24E: \f24e;
$va-uniF250: \f250;
$va-uniF251: \f251;
$va-uniF252: \f252;
$va-uniF253: \f253;
$va-uniF254: \f254;
$va-uniF255: \f255;
$va-uniF256: \f256;
$va-uniF257: \f257;
$va-uniF258: \f258;
$va-uniF259: \f259;
$va-uniF25A: \f25a;
$va-uniF25B: \f25b;
$va-uniF25C: \f25c;
$va-uniF25D: \f25d;
$va-uniF25E: \f25e;
$va-uniF260: \f260;
$va-uniF261: \f261;
$va-uniF262: \f262;
$va-uniF263: \f263;
$va-uniF264: \f264;
$va-uniF265: \f265;
$va-uniF266: \f266;
$va-uniF267: \f267;
$va-uniF268: \f268;
$va-uniF269: \f269;
$va-uniF26A: \f26a;
$va-uniF26B: \f26b;
$va-uniF26C: \f26c;
$va-uniF26D: \f26d;
$va-uniF26E: \f26e;
$va-uniF270: \f270;
$va-uniF271: \f271;
$va-uniF272: \f272;
$va-uniF273: \f273;
$va-uniF274: \f274;
$va-uniF275: \f275;
$va-uniF276: \f276;
$va-uniF277: \f277;
$va-uniF278: \f278;
$va-uniF279: \f279;
$va-uniF27A: \f27a;
$va-uniF27B: \f27b;
$va-uniF27C: \f27c;
$va-uniF27D: \f27d;
$va-uniF27E: \f27e;
$va-uniF280: \f280;
$va-uniF281: \f281;
$va-uniF282: \f282;
$va-uniF283: \f283;
$va-uniF284: \f284;
$va-uniF285: \f285;
$va-uniF286: \f286;
$va-uniF287: \f287;
$va-uniF288: \f288;
$va-uniF289: \f289;
$va-uniF28A: \f28a;
$va-uniF28B: \f28b;
$va-uniF28C: \f28c;
$va-uniF28D: \f28d;
$va-uniF28E: \f28e;
$va-uniF290: \f290;
$va-uniF291: \f291;
$va-uniF292: \f292;
$va-uniF293: \f293;
$va-uniF294: \f294;
$va-uniF295: \f295;
$va-ion-alert-circled: \f10f;
$va-ion-alert: \f116;
$va-ion-android-add-circle: \f359;
$va-ion-android-add: \f2c7;
$va-ion-android-alarm-clock: \f35a;
$va-ion-android-alert: \f35b;
$va-ion-android-apps: \f35c;
$va-ion-android-archive: \f2c9;
$va-ion-android-arrow-back: \f2ca;
$va-ion-android-arrow-down: \f35d;
$va-ion-android-arrow-dropdown-circle: \f35e;
$va-ion-android-arrow-dropdown: \f35f;
$va-ion-android-arrow-dropleft-circle: \f360;
$va-ion-android-arrow-dropleft: \f361;
$va-ion-android-arrow-dropright-circle: \f362;
$va-ion-android-arrow-dropright: \f363;
$va-ion-android-arrow-dropup-circle: \f364;
$va-ion-android-arrow-dropup: \f365;
$va-ion-android-arrow-forward: \f30f;
$va-ion-android-arrow-up: \f366;
$va-ion-android-attach: \f367;
$va-ion-android-bar: \f368;
$va-ion-android-bicycle: \f369;
$va-ion-android-boat: \f36a;
$va-ion-android-bookmark: \f36b;
$va-ion-android-bulb: \f36c;
$va-ion-android-bus: \f36d;
$va-ion-android-calendar: \f2d1;
$va-ion-android-call: \f2d2;
$va-ion-android-camera: \f2d3;
$va-ion-android-cancel: \f36e;
$va-ion-android-car: \f36f;
$va-ion-android-cart: \f370;
$va-ion-android-chat: \f2d4;
$va-ion-android-checkbox-blank: \f371;
$va-ion-android-checkbox-outline-blank: \f372;
$va-ion-android-checkbox-outline: \f373;
$va-ion-android-checkbox: \f374;
$va-ion-android-checkmark-circle: \f375;
$va-ion-android-clipboard: \f376;
$va-ion-android-close: \f2d7;
$va-ion-android-cloud-circle: \f377;
$va-ion-android-cloud-done: \f378;
$va-ion-android-cloud-outline: \f379;
$va-ion-android-cloud: \f37a;
$va-ion-android-color-palette: \f37b;
$va-ion-android-compass: \f37c;
$va-ion-android-contact: \f2d8;
$va-ion-android-contacts: \f2d9;
$va-ion-android-contract: \f37d;
$va-ion-android-create: \f37e;
$va-ion-android-delete: \f37f;
$va-ion-android-desktop: \f380;
$va-ion-android-document: \f381;
$va-ion-android-done-all: \f382;
$va-ion-android-done: \f383;
$va-ion-android-download: \f2dd;
$va-ion-android-drafts: \f384;
$va-ion-android-exit: \f385;
$va-ion-android-expand: \f386;
$va-ion-android-favorite-outline: \f387;
$va-ion-android-favorite: \f388;
$va-ion-android-film: \f389;
$va-ion-android-folder-open: \f38a;
$va-ion-android-folder: \f2e0;
$va-ion-android-funnel: \f38b;
$va-ion-android-globe: \f38c;
$va-ion-android-hand: \f2e3;
$va-ion-android-hangout: \f38d;
$va-ion-android-happy: \f38e;
$va-ion-android-home: \f38f;
$va-ion-android-image: \f2e4;
$va-ion-android-laptop: \f390;
$va-ion-android-list: \f391;
$va-ion-android-locate: \f2e9;
$va-ion-android-lock: \f392;
$va-ion-android-mail: \f2eb;
$va-ion-android-map: \f393;
$va-ion-android-menu: \f394;
$va-ion-android-microphone-off: \f395;
$va-ion-android-microphone: \f2ec;
$va-ion-android-more-horizontal: \f396;
$va-ion-android-more-vertical: \f397;
$va-ion-android-navigate: \f398;
$va-ion-android-notifications-none: \f399;
$va-ion-android-notifications-off: \f39a;
$va-ion-android-notifications: \f39b;
$va-ion-android-open: \f39c;
$va-ion-android-options: \f39d;
$va-ion-android-people: \f39e;
$va-ion-android-person-add: \f39f;
$va-ion-android-person: \f3a0;
$va-ion-android-phone-landscape: \f3a1;
$va-ion-android-phone-portrait: \f3a2;
$va-ion-android-pin: \f3a3;
$va-ion-android-plane: \f3a4;
$va-ion-android-playstore: \f2f0;
$va-ion-android-print: \f3a5;
$va-ion-android-radio-button-off: \f3a6;
$va-ion-android-radio-button-on: \f3a7;
$va-ion-android-refresh: \f3a8;
$va-ion-android-remove-circle: \f3a9;
$va-ion-android-remove: \f2f4;
$va-ion-android-restaurant: \f3aa;
$va-ion-android-sad: \f3ab;
$va-ion-android-search: \f2f5;
$va-ion-android-send: \f2f6;
$va-ion-android-settings: \f2f7;
$va-ion-android-share-alt: \f3ac;
$va-ion-android-share: \f2f8;
$va-ion-android-star-half: \f3ad;
$va-ion-android-star-outline: \f3ae;
$va-ion-android-star: \f2fc;
$va-ion-android-stopwatch: \f2fd;
$va-ion-android-subway: \f3af;
$va-ion-android-sunny: \f3b0;
$va-ion-android-sync: \f3b1;
$va-ion-android-textsms: \f3b2;
$va-ion-android-time: \f3b3;
$va-ion-android-train: \f3b4;
$va-ion-android-unlock: \f3b5;
$va-ion-android-upload: \f3b6;
$va-ion-android-volume-down: \f3b7;
$va-ion-android-volume-mute: \f3b8;
$va-ion-android-volume-off: \f3b9;
$va-ion-android-volume-up: \f3ba;
$va-ion-android-walk: \f3bb;
$va-ion-android-warning: \f3bc;
$va-ion-android-watch: \f3bd;
$va-ion-android-wifi: \f305;
$va-ion-aperture: \f313;
$va-ion-archive: \f117;
$va-ion-arrow-down-a: \f11f;
$va-ion-arrow-down-b: \f12f;
$va-ion-arrow-down-c: \f13f;
$va-ion-arrow-expand: \f25f;
$va-ion-arrow-graph-down-left: \f26f;
$va-ion-arrow-graph-down-right: \f27f;
$va-ion-arrow-graph-up-left: \f28f;
$va-ion-arrow-graph-up-right: \f296;
$va-ion-arrow-left-a: \f14f;
$va-ion-arrow-left-b: \f15f;
$va-ion-arrow-left-c: \f16f;
$va-ion-arrow-move: \f297;
$va-ion-arrow-resize: \f298;
$va-ion-arrow-return-left: \f299;
$va-ion-arrow-return-right: \f29a;
$va-ion-arrow-right-a: \f17f;
$va-ion-arrow-right-b: \f18f;
$va-ion-arrow-right-c: \f19f;
$va-ion-arrow-shrink: \f29b;
$va-ion-arrow-swap: \f29c;
$va-ion-arrow-up-a: \f1af;
$va-ion-arrow-up-b: \f1bf;
$va-ion-arrow-up-c: \f1cf;
$va-ion-asterisk: \f314;
$va-ion-at: \f1df;
$va-ion-backspace-outline: \f3be;
$va-ion-backspace: \f3bf;
$va-ion-bag: \f1ef;
$va-ion-battery-charging: \f1ff;
$va-ion-battery-empty: \f20f;
$va-ion-battery-full: \f21f;
$va-ion-battery-half: \f220;
$va-ion-battery-low: \f22e;
$va-ion-beaker: \f29d;
$va-ion-beer: \f29e;
$va-ion-bluetooth: \f22f;
$va-ion-bonfire: \f315;
$va-ion-bookmark: \f29f;
$va-ion-bowtie: \f3c0;
$va-ion-briefcase: \f2a0;
$va-ion-bug: \f2be;
$va-ion-calculator: \f2a1;
$va-ion-calendar: \f23f;
$va-ion-camera: \f24f;
$va-ion-card: \f2a2;
$va-ion-cash: \f316;
$va-ion-chatbox-working: \f2a3;
$va-ion-chatbox: \f2a4;
$va-ion-chatboxes: \f2a5;
$va-ion-chatbubble-working: \f2a6;
$va-ion-chatbubble: \f2a7;
$va-ion-chatbubbles: \f2a8;
$va-ion-checkmark-circled: \f2a9;
$va-ion-checkmark-round: \f2aa;
$va-ion-checkmark: \f2ab;
$va-ion-chevron-down: \f2ac;
$va-ion-chevron-left: \f2ad;
$va-ion-chevron-right: \f2ae;
$va-ion-chevron-up: \f2af;
$va-ion-clipboard: \f2b0;
$va-ion-clock: \f2b1;
$va-ion-close-circled: \f2b2;
$va-ion-close-round: \f2b3;
$va-ion-close: \f2b4;
$va-ion-closed-captioning: \f317;
$va-ion-cloud: \f2b5;
$va-ion-code-download: \f2b6;
$va-ion-code-working: \f2b7;
$va-ion-code: \f2b8;
$va-ion-coffee: \f2b9;
$va-ion-compass: \f2ba;
$va-ion-compose: \f2bb;
$va-ion-connection-bars: \f2bc;
$va-ion-contrast: \f2bd;
$va-ion-crop: \f3c1;
$va-ion-cube: \f318;
$va-ion-disc: \f2bf;
$va-ion-document-text: \f2c0;
$va-ion-document: \f2c1;
$va-ion-drag: \f2c2;
$va-ion-earth: \f2c3;
$va-ion-easel: \f3c2;
$va-ion-edit: \f2c4;
$va-ion-egg: \f2c5;
$va-ion-eject: \f2c6;
$va-ion-email-unread: \f3c3;
$va-ion-email: \f2c8;
$va-ion-erlenmeyer-flask-bubbles: \f3c4;
$va-ion-erlenmeyer-flask: \f3c5;
$va-ion-eye-disabled: \f306;
$va-ion-eye: \f2cb;
$va-ion-female: \f2cc;
$va-ion-filing: \f2cd;
$va-ion-film-marker: \f2ce;
$va-ion-fireball: \f319;
$va-ion-flag: \f2cf;
$va-ion-flame: \f31a;
$va-ion-flash-off: \f2d0;
$va-ion-flash: \f2d5;
$va-ion-folder: \f2d6;
$va-ion-fork-repo: \f2da;
$va-ion-fork: \f2db;
$va-ion-forward: \f2dc;
$va-ion-funnel: \f31b;
$va-ion-gear-a: \f2de;
$va-ion-gear-b: \f2df;
$va-ion-grid: \f2e1;
$va-ion-hammer: \f2e2;
$va-ion-happy-outline: \f3c6;
$va-ion-happy: \f31c;
$va-ion-headphone: \f2e5;
$va-ion-heart-broken: \f31d;
$va-ion-heart: \f2e6;
$va-ion-help-buoy: \f2e7;
$va-ion-help-circled: \f2e8;
$va-ion-help: \f2ea;
$va-ion-home: \f2ed;
$va-ion-icecream: \f2ee;
$va-ion-image: \f2ef;
$va-ion-images: \f2f1;
$va-ion-information-circled: \f2f2;
$va-ion-information: \f2f3;
$va-ion-ionic: \f2f9;
$va-ion-ios-alarm-outline: \f3c7;
$va-ion-ios-alarm: \f3c8;
$va-ion-ios-albums-outline: \f3c9;
$va-ion-ios-albums: \f3ca;
$va-ion-ios-americanfootball-outline: \f3cb;
$va-ion-ios-americanfootball: \f3cc;
$va-ion-ios-analytics-outline: \f3cd;
$va-ion-ios-analytics: \f3ce;
$va-ion-ios-arrow-back: \f3cf;
$va-ion-ios-arrow-down: \f3d0;
$va-ion-ios-arrow-forward: \f3d1;
$va-ion-ios-arrow-left: \f3d2;
$va-ion-ios-arrow-right: \f3d3;
$va-ion-ios-arrow-thin-down: \f3d4;
$va-ion-ios-arrow-thin-left: \f3d5;
$va-ion-ios-arrow-thin-right: \f3d6;
$va-ion-ios-arrow-thin-up: \f3d7;
$va-ion-ios-arrow-up: \f3d8;
$va-ion-ios-at-outline: \f3d9;
$va-ion-ios-at: \f3da;
$va-ion-ios-barcode-outline: \f3db;
$va-ion-ios-barcode: \f3dc;
$va-ion-ios-baseball-outline: \f3dd;
$va-ion-ios-baseball: \f3de;
$va-ion-ios-basketball-outline: \f3df;
$va-ion-ios-basketball: \f3e0;
$va-ion-ios-bell-outline: \f3e1;
$va-ion-ios-bell: \f3e2;
$va-ion-ios-body-outline: \f3e3;
$va-ion-ios-body: \f3e4;
$va-ion-ios-bolt-outline: \f3e5;
$va-ion-ios-bolt: \f3e6;
$va-ion-ios-book-outline: \f3e7;
$va-ion-ios-book: \f3e8;
$va-ion-ios-bookmarks-outline: \f3e9;
$va-ion-ios-bookmarks: \f3ea;
$va-ion-ios-box-outline: \f3eb;
$va-ion-ios-box: \f3ec;
$va-ion-ios-briefcase-outline: \f3ed;
$va-ion-ios-briefcase: \f3ee;
$va-ion-ios-browsers-outline: \f3ef;
$va-ion-ios-browsers: \f3f0;
$va-ion-ios-calculator-outline: \f3f1;
$va-ion-ios-calculator: \f3f2;
$va-ion-ios-calendar-outline: \f3f3;
$va-ion-ios-calendar: \f3f4;
$va-ion-ios-camera-outline: \f3f5;
$va-ion-ios-camera: \f3f6;
$va-ion-ios-cart-outline: \f3f7;
$va-ion-ios-cart: \f3f8;
$va-ion-ios-chatboxes-outline: \f3f9;
$va-ion-ios-chatboxes: \f3fa;
$va-ion-ios-chatbubble-outline: \f3fb;
$va-ion-ios-chatbubble: \f3fc;
$va-ion-ios-checkmark-empty: \f3fd;
$va-ion-ios-checkmark-outline: \f3fe;
$va-ion-ios-checkmark: \f3ff;
$va-ion-ios-circle-filled: \f400;
$va-ion-ios-circle-outline: \f401;
$va-ion-ios-clock-outline: \f402;
$va-ion-ios-clock: \f403;
$va-ion-ios-close-empty: \f404;
$va-ion-ios-close-outline: \f405;
$va-ion-ios-close: \f406;
$va-ion-ios-cloud-download-outline: \f407;
$va-ion-ios-cloud-download: \f408;
$va-ion-ios-cloud-outline: \f409;
$va-ion-ios-cloud-upload-outline: \f40a;
$va-ion-ios-cloud-upload: \f40b;
$va-ion-ios-cloud: \f40c;
$va-ion-ios-cloudy-night-outline: \f40d;
$va-ion-ios-cloudy-night: \f40e;
$va-ion-ios-cloudy-outline: \f40f;
$va-ion-ios-cloudy: \f410;
$va-ion-ios-cog-outline: \f411;
$va-ion-ios-cog: \f412;
$va-ion-ios-color-filter-outline: \f413;
$va-ion-ios-color-filter: \f414;
$va-ion-ios-color-wand-outline: \f415;
$va-ion-ios-color-wand: \f416;
$va-ion-ios-compose-outline: \f417;
$va-ion-ios-compose: \f418;
$va-ion-ios-contact-outline: \f419;
$va-ion-ios-contact: \f41a;
$va-ion-ios-copy-outline: \f41b;
$va-ion-ios-copy: \f41c;
$va-ion-ios-crop-strong: \f41d;
$va-ion-ios-crop: \f41e;
$va-ion-ios-download-outline: \f41f;
$va-ion-ios-download: \f420;
$va-ion-ios-drag: \f421;
$va-ion-ios-email-outline: \f422;
$va-ion-ios-email: \f423;
$va-ion-ios-eye-outline: \f424;
$va-ion-ios-eye: \f425;
$va-ion-ios-fastforward-outline: \f426;
$va-ion-ios-fastforward: \f427;
$va-ion-ios-filing-outline: \f428;
$va-ion-ios-filing: \f429;
$va-ion-ios-film-outline: \f42a;
$va-ion-ios-film: \f42b;
$va-ion-ios-flag-outline: \f42c;
$va-ion-ios-flag: \f42d;
$va-ion-ios-flame-outline: \f42e;
$va-ion-ios-flame: \f42f;
$va-ion-ios-flask-outline: \f430;
$va-ion-ios-flask: \f431;
$va-ion-ios-flower-outline: \f432;
$va-ion-ios-flower: \f433;
$va-ion-ios-folder-outline: \f434;
$va-ion-ios-folder: \f435;
$va-ion-ios-football-outline: \f436;
$va-ion-ios-football: \f437;
$va-ion-ios-game-controller-a-outline: \f438;
$va-ion-ios-game-controller-a: \f439;
$va-ion-ios-game-controller-b-outline: \f43a;
$va-ion-ios-game-controller-b: \f43b;
$va-ion-ios-gear-outline: \f43c;
$va-ion-ios-gear: \f43d;
$va-ion-ios-glasses-outline: \f43e;
$va-ion-ios-glasses: \f43f;
$va-ion-ios-grid-view-outline: \f440;
$va-ion-ios-grid-view: \f441;
$va-ion-ios-heart-outline: \f442;
$va-ion-ios-heart: \f443;
$va-ion-ios-help-empty: \f444;
$va-ion-ios-help-outline: \f445;
$va-ion-ios-help: \f446;
$va-ion-ios-home-outline: \f447;
$va-ion-ios-home: \f448;
$va-ion-ios-infinite-outline: \f449;
$va-ion-ios-infinite: \f44a;
$va-ion-ios-information-empty: \f44b;
$va-ion-ios-information-outline: \f44c;
$va-ion-ios-information: \f44d;
$va-ion-ios-ionic-outline: \f44e;
$va-ion-ios-keypad-outline: \f44f;
$va-ion-ios-keypad: \f450;
$va-ion-ios-lightbulb-outline: \f451;
$va-ion-ios-lightbulb: \f452;
$va-ion-ios-list-outline: \f453;
$va-ion-ios-list: \f454;
$va-ion-ios-location-outline: \f455;
$va-ion-ios-location: \f456;
$va-ion-ios-locked-outline: \f457;
$va-ion-ios-locked: \f458;
$va-ion-ios-loop-strong: \f459;
$va-ion-ios-loop: \f45a;
$va-ion-ios-medical-outline: \f45b;
$va-ion-ios-medical: \f45c;
$va-ion-ios-medkit-outline: \f45d;
$va-ion-ios-medkit: \f45e;
$va-ion-ios-mic-off: \f45f;
$va-ion-ios-mic-outline: \f460;
$va-ion-ios-mic: \f461;
$va-ion-ios-minus-empty: \f462;
$va-ion-ios-minus-outline: \f463;
$va-ion-ios-minus: \f464;
$va-ion-ios-monitor-outline: \f465;
$va-ion-ios-monitor: \f466;
$va-ion-ios-moon-outline: \f467;
$va-ion-ios-moon: \f468;
$va-ion-ios-more-outline: \f469;
$va-ion-ios-more: \f46a;
$va-ion-ios-musical-note: \f46b;
$va-ion-ios-musical-notes: \f46c;
$va-ion-ios-navigate-outline: \f46d;
$va-ion-ios-navigate: \f46e;
$va-ion-ios-nutrition-outline: \f46f;
$va-ion-ios-nutrition: \f470;
$va-ion-ios-paper-outline: \f471;
$va-ion-ios-paper: \f472;
$va-ion-ios-paperplane-outline: \f473;
$va-ion-ios-paperplane: \f474;
$va-ion-ios-partlysunny-outline: \f475;
$va-ion-ios-partlysunny: \f476;
$va-ion-ios-pause-outline: \f477;
$va-ion-ios-pause: \f478;
$va-ion-ios-paw-outline: \f479;
$va-ion-ios-paw: \f47a;
$va-ion-ios-people-outline: \f47b;
$va-ion-ios-people: \f47c;
$va-ion-ios-person-outline: \f47d;
$va-ion-ios-person: \f47e;
$va-ion-ios-personadd-outline: \f47f;
$va-ion-ios-personadd: \f480;
$va-ion-ios-photos-outline: \f481;
$va-ion-ios-photos: \f482;
$va-ion-ios-pie-outline: \f483;
$va-ion-ios-pie: \f484;
$va-ion-ios-pint-outline: \f485;
$va-ion-ios-pint: \f486;
$va-ion-ios-play-outline: \f487;
$va-ion-ios-play: \f488;
$va-ion-ios-plus-empty: \f489;
$va-ion-ios-plus-outline: \f48a;
$va-ion-ios-plus: \f48b;
$va-ion-ios-pricetag-outline: \f48c;
$va-ion-ios-pricetag: \f48d;
$va-ion-ios-pricetags-outline: \f48e;
$va-ion-ios-pricetags: \f48f;
$va-ion-ios-printer-outline: \f490;
$va-ion-ios-printer: \f491;
$va-ion-ios-pulse-strong: \f492;
$va-ion-ios-pulse: \f493;
$va-ion-ios-rainy-outline: \f494;
$va-ion-ios-rainy: \f495;
$va-ion-ios-recording-outline: \f496;
$va-ion-ios-recording: \f497;
$va-ion-ios-redo-outline: \f498;
$va-ion-ios-redo: \f499;
$va-ion-ios-refresh-empty: \f49a;
$va-ion-ios-refresh-outline: \f49b;
$va-ion-ios-refresh: \f49c;
$va-ion-ios-reload: \f49d;
$va-ion-ios-reverse-camera-outline: \f49e;
$va-ion-ios-reverse-camera: \f49f;
$va-ion-ios-rewind-outline: \f4a0;
$va-ion-ios-rewind: \f4a1;
$va-ion-ios-rose-outline: \f4a2;
$va-ion-ios-rose: \f4a3;
$va-ion-ios-search-strong: \f4a4;
$va-ion-ios-search: \f4a5;
$va-ion-ios-settings-strong: \f4a6;
$va-ion-ios-settings: \f4a7;
$va-ion-ios-shuffle-strong: \f4a8;
$va-ion-ios-shuffle: \f4a9;
$va-ion-ios-skipbackward-outline: \f4aa;
$va-ion-ios-skipbackward: \f4ab;
$va-ion-ios-skipforward-outline: \f4ac;
$va-ion-ios-skipforward: \f4ad;
$va-ion-ios-snowy: \f4ae;
$va-ion-ios-speedometer-outline: \f4af;
$va-ion-ios-speedometer: \f4b0;
$va-ion-ios-star-half: \f4b1;
$va-ion-ios-star-outline: \f4b2;
$va-ion-ios-star: \f4b3;
$va-ion-ios-stopwatch-outline: \f4b4;
$va-ion-ios-stopwatch: \f4b5;
$va-ion-ios-sunny-outline: \f4b6;
$va-ion-ios-sunny: \f4b7;
$va-ion-ios-telephone-outline: \f4b8;
$va-ion-ios-telephone: \f4b9;
$va-ion-ios-tennisball-outline: \f4ba;
$va-ion-ios-tennisball: \f4bb;
$va-ion-ios-thunderstorm-outline: \f4bc;
$va-ion-ios-thunderstorm: \f4bd;
$va-ion-ios-time-outline: \f4be;
$va-ion-ios-time: \f4bf;
$va-ion-ios-timer-outline: \f4c0;
$va-ion-ios-timer: \f4c1;
$va-ion-ios-toggle-outline: \f4c2;
$va-ion-ios-toggle: \f4c3;
$va-ion-ios-trash-outline: \f4c4;
$va-ion-ios-trash: \f4c5;
$va-ion-ios-undo-outline: \f4c6;
$va-ion-ios-undo: \f4c7;
$va-ion-ios-unlocked-outline: \f4c8;
$va-ion-ios-unlocked: \f4c9;
$va-ion-ios-upload-outline: \f4ca;
$va-ion-ios-upload: \f4cb;
$va-ion-ios-videocam-outline: \f4cc;
$va-ion-ios-videocam: \f4cd;
$va-ion-ios-volume-high: \f4ce;
$va-ion-ios-volume-low: \f4cf;
$va-ion-ios-wineglass-outline: \f4d0;
$va-ion-ios-wineglass: \f4d1;
$va-ion-ios-world-outline: \f4d2;
$va-ion-ios-world: \f4d3;
$va-ion-ipad: \f2fa;
$va-ion-iphone: \f2fb;
$va-ion-ipod: \f2fe;
$va-ion-jet: \f2ff;
$va-ion-key: \f300;
$va-ion-knife: \f301;
$va-ion-laptop: \f302;
$va-ion-leaf: \f303;
$va-ion-levels: \f304;
$va-ion-lightbulb: \f307;
$va-ion-link: \f308;
$va-ion-load-a: \f309;
$va-ion-load-b: \f30a;
$va-ion-load-c: \f30b;
$va-ion-load-d: \f30c;
$va-ion-location: \f30d;
$va-ion-lock-combination: \f4d4;
$va-ion-locked: \f30e;
$va-ion-log-in: \f310;
$va-ion-log-out: \f311;
$va-ion-loop: \f312;
$va-ion-magnet: \f31e;
$va-ion-male: \f31f;
$va-ion-man: \f320;
$va-ion-map: \f321;
$va-ion-medkit: \f322;
$va-ion-merge: \f33f;
$va-ion-mic-a: \f323;
$va-ion-mic-b: \f324;
$va-ion-mic-c: \f325;
$va-ion-minus-circled: \f326;
$va-ion-minus-round: \f327;
$va-ion-minus: \f328;
$va-ion-model-s: \f329;
$va-ion-monitor: \f32a;
$va-ion-more: \f32b;
$va-ion-mouse: \f340;
$va-ion-music-note: \f32c;
$va-ion-navicon-round: \f32d;
$va-ion-navicon: \f32e;
$va-ion-navigate: \f32f;
$va-ion-network: \f341;
$va-ion-no-smoking: \f330;
$va-ion-nuclear: \f331;
$va-ion-outlet: \f342;
$va-ion-paintbrush: \f4d5;
$va-ion-paintbucket: \f4d6;
$va-ion-paper-airplane: \f332;
$va-ion-paperclip: \f333;
$va-ion-pause: \f334;
$va-ion-person-add: \f335;
$va-ion-person-stalker: \f336;
$va-ion-person: \f337;
$va-ion-pie-graph: \f338;
$va-ion-pin: \f339;
$va-ion-pinpoint: \f33a;
$va-ion-pizza: \f33b;
$va-ion-plane: \f33c;
$va-ion-planet: \f343;
$va-ion-play: \f33d;
$va-ion-playstation: \f33e;
$va-ion-plus-circled: \f344;
$va-ion-plus-round: \f345;
$va-ion-plus: \f346;
$va-ion-podium: \f347;
$va-ion-pound: \f348;
$va-ion-power: \f349;
$va-ion-pricetag: \f34a;
$va-ion-pricetags: \f34b;
$va-ion-printer: \f34c;
$va-ion-pull-request: \f34d;
$va-ion-qr-scanner: \f34e;
$va-ion-quote: \f34f;
$va-ion-radio-waves: \f350;
$va-ion-record: \f351;
$va-ion-refresh: \f352;
$va-ion-reply-all: \f353;
$va-ion-reply: \f354;
$va-ion-ribbon-a: \f355;
$va-ion-ribbon-b: \f356;
$va-ion-sad-outline: \f4d7;
$va-ion-sad: \f357;
$va-ion-scissors: \f358;
$va-ion-search: \f4d8;
$va-ion-settings: \f4d9;
$va-ion-share: \f4da;
$va-ion-shuffle: \f4db;
$va-ion-skip-backward: \f4dc;
$va-ion-skip-forward: \f4dd;
$va-ion-social-android-outline: \f4de;
$va-ion-social-android: \f4df;
$va-ion-social-angular-outline: \f4e0;
$va-ion-social-angular: \f4e1;
$va-ion-social-apple-outline: \f4e2;
$va-ion-social-apple: \f4e3;
$va-ion-social-bitcoin-outline: \f4e4;
$va-ion-social-bitcoin: \f4e5;
$va-ion-social-buffer-outline: \f4e6;
$va-ion-social-buffer: \f4e7;
$va-ion-social-chrome-outline: \f4e8;
$va-ion-social-chrome: \f4e9;
$va-ion-social-codepen-outline: \f4ea;
$va-ion-social-codepen: \f4eb;
$va-ion-social-css3-outline: \f4ec;
$va-ion-social-css3: \f4ed;
$va-ion-social-designernews-outline: \f4ee;
$va-ion-social-designernews: \f4ef;
$va-ion-social-dribbble-outline: \f4f0;
$va-ion-social-dribbble: \f4f1;
$va-ion-social-dropbox-outline: \f4f2;
$va-ion-social-dropbox: \f4f3;
$va-ion-social-euro-outline: \f4f4;
$va-ion-social-euro: \f4f5;
$va-ion-social-facebook-outline: \f4f6;
$va-ion-social-facebook: \f4f7;
$va-ion-social-foursquare-outline: \f4f8;
$va-ion-social-foursquare: \f4f9;
$va-ion-social-freebsd-devil: \f4fa;
$va-ion-social-github-outline: \f4fb;
$va-ion-social-github: \f4fc;
$va-ion-social-google-outline: \f4fd;
$va-ion-social-google: \f4fe;
$va-ion-social-googleplus-outline: \f4ff;
$va-ion-social-googleplus: \f500;
$va-ion-social-hackernews-outline: \f501;
$va-ion-social-hackernews: \f502;
$va-ion-social-html5-outline: \f503;
$va-ion-social-html5: \f504;
$va-ion-social-instagram-outline: \f505;
$va-ion-social-instagram: \f506;
$va-ion-social-javascript-outline: \f507;
$va-ion-social-javascript: \f508;
$va-ion-social-linkedin-outline: \f509;
$va-ion-social-linkedin: \f50a;
$va-ion-social-markdown: \f50b;
$va-ion-social-nodejs: \f50c;
$va-ion-social-octocat: \f50d;
$va-ion-social-pinterest-outline: \f50e;
$va-ion-social-pinterest: \f50f;
$va-ion-social-python: \f510;
$va-ion-social-reddit-outline: \f511;
$va-ion-social-reddit: \f512;
$va-ion-social-rss-outline: \f513;
$va-ion-social-rss: \f514;
$va-ion-social-sass: \f515;
$va-ion-social-skype-outline: \f516;
$va-ion-social-skype: \f517;
$va-ion-social-snapchat-outline: \f518;
$va-ion-social-snapchat: \f519;
$va-ion-social-tumblr-outline: \f51a;
$va-ion-social-tumblr: \f51b;
$va-ion-social-tux: \f51c;
$va-ion-social-twitch-outline: \f51d;
$va-ion-social-twitch: \f51e;
$va-ion-social-twitter-outline: \f51f;
$va-ion-social-twitter: \f520;
$va-ion-social-usd-outline: \f521;
$va-ion-social-usd: \f522;
$va-ion-social-vimeo-outline: \f523;
$va-ion-social-vimeo: \f524;
$va-ion-social-whatsapp-outline: \f525;
$va-ion-social-whatsapp: \f526;
$va-ion-social-windows-outline: \f527;
$va-ion-social-windows: \f528;
$va-ion-social-wordpress-outline: \f529;
$va-ion-social-wordpress: \f52a;
$va-ion-social-yahoo-outline: \f52b;
$va-ion-social-yahoo: \f52c;
$va-ion-social-yen-outline: \f52d;
$va-ion-social-yen: \f52e;
$va-ion-social-youtube-outline: \f52f;
$va-ion-social-youtube: \f530;
$va-ion-soup-can-outline: \f531;
$va-ion-soup-can: \f532;
$va-ion-speakerphone: \f533;
$va-ion-speedometer: \f534;
$va-ion-spoon: \f535;
$va-ion-star: \f536;
$va-ion-stats-bars: \f537;
$va-ion-steam: \f538;
$va-ion-stop: \f539;
$va-ion-thermometer: \f53a;
$va-ion-thumbsdown: \f53b;
$va-ion-thumbsup: \f53c;
$va-ion-toggle-filled: \f53d;
$va-ion-toggle: \f53e;
$va-ion-transgender: \f53f;
$va-ion-trash-a: \f540;
$va-ion-trash-b: \f541;
$va-ion-trophy: \f542;
$va-ion-tshirt-outline: \f543;
$va-ion-tshirt: \f544;
$va-ion-umbrella: \f545;
$va-ion-university: \f546;
$va-ion-unlocked: \f547;
$va-ion-upload: \f548;
$va-ion-usb: \f549;
$va-ion-videocamera: \f54a;
$va-ion-volume-high: \f54b;
$va-ion-volume-low: \f54c;
$va-ion-volume-medium: \f54d;
$va-ion-volume-mute: \f54e;
$va-ion-wand: \f54f;
$va-ion-waterdrop: \f550;
$va-ion-wifi: \f551;
$va-ion-wineglass: \f552;
$va-ion-woman: \f553;
$va-ion-wrench: \f554;
$va-ion-xbox: \f555;
$va-pause_circle_outline: \e01a;
$va-play_circle_outline: \e01d;
$va-stack-2: \e033;
$va-clear: \e070;
$va-arrow-left: \e094;
$va-arrow-right: \e095;
$va-vertical_align_bottom: \e0f2;
$va-apps: \e1ff;
$va-fullscreen: \e20c;
$va-fullscreen_exit: \e20d;
$va-zoom_in: \e311;
$va-zoom_out: \e312;

