* {
	&:focus,
	&:active {
		outline: none;
	}
}

html,
body {
	height: 100%;
}

html{
	&.open{
		overflow: hidden;
	}
}

body {
	@include lbR();
	color: $mainBlue;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
	@include font-size(16px);
	@include media-breakpoint-down(md) {
		@include font-size(15px);
	}
	@include media-breakpoint-down(xs) {
		@include font-size(14px);
	}
}

h1 {
	@include font-size(40px);
	@include media-breakpoint-down(lg) {
		@include font-size(35px);
	}
	@include media-breakpoint-down(md) {
		@include font-size(32px);
	}
	@include media-breakpoint-down(sm) {
		@include font-size(30px);
	}
	@include media-breakpoint-down(xs) {
		@include font-size(27px);
	}
}

h2 {
	@include font-size(32px);
	@include media-breakpoint-down(lg) {
		@include font-size(27px);
	}
	@include media-breakpoint-down(md) {
		@include font-size(25px);
	}
	@include media-breakpoint-down(sm) {
		@include font-size(22px);
	}
	@include media-breakpoint-down(xs) {
		@include font-size(19px);
	}
}

h3 {
	@include font-size(30px);
	@include media-breakpoint-down(lg) {
		@include font-size(25px);
	}
	@include media-breakpoint-down(md) {
		@include font-size(23px);
	}
	@include media-breakpoint-down(sm) {
		@include font-size(21px);
	}
	@include media-breakpoint-down(xs) {
		@include font-size(18px);
	}
}

h4 {
	@include font-size(28px);
	@include media-breakpoint-down(lg) {
		@include font-size(23px);
	}
	@include media-breakpoint-down(md) {
		@include font-size(21px);
	}
	@include media-breakpoint-down(sm) {
		@include font-size(19px);
	}
	@include media-breakpoint-down(xs) {
		@include font-size(17px);
	}
}

h5 {
	@include font-size(26px);
	@include media-breakpoint-down(lg) {
		@include font-size(21px);
	}
	@include media-breakpoint-down(md) {
		@include font-size(19px);
	}
	@include media-breakpoint-down(sm) {
		@include font-size(17px);
	}
	@include media-breakpoint-down(xs) {
		@include font-size(15px);
	}
}

a {
	color: $orange;
	@include transition (0.2s);
	&:visited {
		color: $orange;
		outline: none;
	}
	&:hover,
	&:focus,
	&:active {
		color: $black;
		outline: none;
	}
}

img {
	@extend .img-fluid;
}

.intro {
	h2 {
		text-transform: uppercase;
		color: $brown;
		@include font-size(16px);
		@include media-breakpoint-down(md) {
			@include font-size(15px);
		}
		@include media-breakpoint-down(sm) {
			@include font-size(14px);
		}
		@include montB();
		font-weight: 700;
		letter-spacing: 2px;
	}
	h3 {
		@include font-size(33px);
		@include media-breakpoint-down(md) {
			@include font-size(26px);
		}
		@include lbB();
		font-weight: 700;
		color: $black-2;
	}
	.lead {
		color: $grey;
		@include montR();
		@include font-size(20px);
		@include media-breakpoint-down(md) {
			@include font-size(18px);
		}
		@include media-breakpoint-down(sm) {
			@include font-size(16px);
		}
		font-weight: 400;
	}
}

// animation
.fadeInUp {
	@include fadeInUp();
}

.wow {
	visibility: hidden;
}

#preloader {
	@include position(fixed, $top: 0);
	height: 100vh;
	width: 100%;
	z-index: 100;
	background-color: $black;
	#loader {
		display: table;
		@include position(absolute, $top: 50%, $left: 50%);
		@include transform(translate(-50%, -50%));
	}
	i {
		display: block;
		color: $white;
		@include font-size(50px);
		@include loader($function: linear, $count: infinite);
	}
}

#go-top {
	@include position(fixed, $bottom: 50px, $right: 60px);
	visibility: hidden;
	@include media-breakpoint-down(sm) {
		right: 20px;
	}
	a {
		@include position(relative);
		display: block;
		color: $grey;
		height: 60px;
		width: 60px;
		background-color: $black;
		@include font-size(35px);
		@include transition();
		&:hover {
			text-decoration: none;
			color: $white;
		}
	}
	i {
		@include position(absolute, $top: 50%, $left: 50%);
		@include transform( translate(-50%, -50%));
	}
	&.visible {
		@include fadeInUp();
	}
}