*{
	&:focus, &:active{
		outline: none;
	}
}

html,
body {
	height: 100%;
}

body {
	@include lbR();
	@include font-size(16px);
	color: $mainBlue;
	margin: 0;
	padding: 0;
	text-rendering: optimizeLegibility;
}

a {
	color: $orange;
	@include transition (0.3s);
	&:visited {
		color: $orange;
	}
	&:hover,
	&:focus {
		color: $black;
	}
}

img {
	@extend .img-fluid;
}

.intro {
	h2 {
		text-transform: uppercase;
		color: $brown;
		@include font-size(16px);
		@include montB();
		font-weight: 700;
		letter-spacing: 2px;
	}
	h3 {
		@include font-size(33px);
		@include lbB();
		font-weight: 700;
		color: $black-2;
	}
	.lead {
		color: $grey;
		@include montR();
		@include font-size(20px);
		font-weight: 400;
	}
}