// Color Palette
$white       : #ffffff;
$black       : #000000;
$black-2     : #151515;
$black-3     : #050505;
$mainBlue    : #353535;
$font   	 : #393939;
$greyL   	 : #EBEBEB;
$grey   	 : #636363;
$grey-2   	 : #808080;
$fonds       : #f7f7f7;
$orange      : #f0a359;
$yellow      : #FFD301;
$brown       : #4C2405;

//$navbar-dark-color: rgba($blanc,1);

/* icomoon

$icomoon-font-path: "../fonts/icomoon" !default;

$icon-moins: \e900;
$icon-plus: \e901;
$icon-enveloppe: \e902;
$icon-facebook: \e903;
$icon-fanion: \e904;
$icon-fleche: \e905;
$icon-linkedin: \e906;
$icon-marqueur: \e907;
$icon-marqueur_flash: \e908;
$icon-picto_01: \e909;
$icon-picto_02: \e90a;
$icon-picto_03: \e90b;
$icon-picto_04: \e90c;
$icon-picto_05: \e90d;
$icon-picto_06-path1: \e90e;
$icon-picto_06-path2: \e90f;
$icon-picto_06-path3: \e910;
$icon-picto_06-path4: \e911;
$icon-picto_06-path5: \e912;
$icon-picto_06-path6: \e913;
$icon-picto_06-path7: \e914;
$icon-picto_06-path8: \e915;
$icon-picto_06-path9: \e916;
$icon-picto_06-path10: \e917;
$icon-picto_06-path11: \e918;
$icon-telephone: \e919;
$icon-TOP: \e91a;
$icon-twitter: \e91b;
$icon-youtube: \e91c;
*/

// Fonts
$base-font-size   : 16px !default;
$custom-font-stack: "lbR", sans-serif;
$font-family-base :  $custom-font-stack;

// animate custom var
$durationDefault: 0.3s;